<button mat-icon-button id="open" cdkDragBoundary=".boundary" (cdkDragStarted)="handleDragStart()" (click)="handleClick()" cdkDrag>
    <mat-icon class="icon">infos</mat-icon>
</button>
<div id="entity-infos-menu" class="entity-infos-sidebar">
    <a id="close" (click)="close()">&times;</a>
    <div class="infos-container" id="entity-infos">
        <strong> Informations de l'entité </strong> <br><br>
        <div >localisation: ({{lat}}, {{lon}})</div>
        <br>
        <div >Nombre de passagers: {{passengerAmount}}</div>
        <br>
        <div *ngIf="passengerAmount != 0">
            <!-- <div >Liste des passagers</div> -->
            <li class="dropdown-submenu"><a href="#">Liste des passagers</a>
                <ul class="dropdown-menu">
                    <li *ngFor="let passenger of passengerList"> <a href="#"> {{passenger.slice(0,8)}}</a> </li>
                </ul>
            </li>
            <!-- <div *ngFor="let passenger of passengerList">{{passenger.slice(0,8)}}</div> -->
        </div>
    </div>
</div>
