<div id="entity-infos-menu" class="entity-infos-sidebar">
    <a id="close" (click)="close()">&times;</a>
    <div class="sub-menu-button" id="entity-infos">
        Informations de l'entité <br><br>
        <div >lat:{{lat}}</div>
        <div >lon:{{lon}}</div>
        <div >Nombre de passagers:{{passengerAmount}}</div>
        <div *ngFor="let passenger of passengerList">{{passenger}}</div>
    </div>
</div>

<mat-button-toggle id="open" (click)="open()">
    <mat-icon>infos</mat-icon>
</mat-button-toggle>
<!-- <i id="open" class="fas fa-bars" aria-hidden="true" (click)="open()"></i> -->
