.entity-infos-sidebar {
	height: 50%;
	width: 0;
	position: fixed;
	z-index: 1;
	bottom: 2em;
	right: 0;
	background-color: white;
	border-top-style: solid;
	border-top-width: 30px;
	border-top-color: rgb(90, 90, 213);
	color: black;
	overflow-x: visible;
	padding-bottom: 60px;
	transition: 0.5s;
}

#entity-infos {
	display: block;
	width: 90%;
	height: fit-content;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	color: black;
	background-color: whitesmoke;
	font-size: 25px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	transition: 0.3s;
}

#close {
	color: black;
	cursor: pointer;
	position: absolute;
	top: -25px;
	left: 0;
	font-size: 36px;
}

#close:hover {
	color: black;
}

.icon {
	width: 50px;
	height: 50px;
	font-size: 50px;
}

#open {
	height: 0px;
	width: 0px;
	position: absolute;
	z-index: 1;
	right: 5vh;
	top: 87vh;
	opacity: 0.8;
	color: blue;
	cursor: pointer;
}

#open:hover {
	opacity: 1;
}

.dropdown-submenu {
	background-color: rgb(62, 130, 134);
	list-style-type: none;
	user-select: none;
	box-sizing: border-box;
	padding-top: 5px;
}

.dropdown-menu {
	max-height: 210px;
	background-color: rgb(129, 198, 175);
	display: grid;
	grid-template-areas: 'a a a';
	gap: 25px;
	column-gap: 0.25em;
	grid-auto-columns: auto;
	padding: 10px 10px 10px 10px;
	list-style-type: none;
	overflow-y: auto;
}

.dropdown-menu a {
	text-decoration: none;
}
