.entity-infos-sidebar {
	height: 50%;
	width: 25em;
	position: fixed;
	z-index: 1;
	bottom: 0;
	right: 0;
	background-color: white;
	border-style: solid;
	border-top-width: 30px;
	/* border-top-color:lightskyblue; */
	border-color:lightskyblue;
	color: black;
	overflow-x:visible;
	padding-bottom: 60px;
	transition: 0.5s;
}

#entity-infos {
	display: block;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 5px;
	padding: 8px 8px 8px 8px;
	color: #5c5c5c;
	background-color: whitesmoke;
	cursor: pointer;
	font-size: 25px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	/* text-align: center; */
	transition: 0.3s;
}

/* .sub-menu-button:hover {
	color: black;
	background-color: #dadada;
}

.sub-menu {
	height: 0px;
	opacity: 0;
	transition: 0.5s;
	background-color: #ddeeed;
	margin-bottom: 5px;
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 20px;
	pointer-events: none;
} */

/* .sub-menu-option {
	display: block;
	position: relative;
	top: 5px;
	width: 80%;
	height: 25px;
	margin-left: 7%;
	margin-bottom: 5px;
	padding: 8px 8px 8px 8px;
	border: black;
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	color: #5c5c5c;
	background-color: #e7e7e7;
	cursor: pointer;
	font-size: 1.1em;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: center;
	transition: 0.3s;
}

.sub-menu-option:hover {
	color: black;
	background-color: #dadada;
} */

#close {
	color: #5c5c5c;
	cursor: pointer;
	position: absolute;
	top: -25px;
	left: 0;
	font-size: 36px;
	/* margin-left: 50px; */
}

.close:hover {
	color: black;
}

#open {
	position: absolute;
	left: 1850px;
	top: 365px;
	font-size: 40px;
	opacity: 0.8;
	background-color: grey;
	cursor:grab;
}

#open:hover {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.2);
}

/* Au cas ou l'écran est plus petit que l'écran ordinaire d'un ordinateur.*/
/* @media screen and (max-height: 450px) {
	.entity-infos-sidebar {
		padding-bottom: 15px;
	}
	.entity-infos-sidebar a {
		font-size: 18px;
	} 
} */