
<div class="boundary">
    <app-entity-infos class="entityInfosContainer"></app-entity-infos>
    <app-debug-receiver-component></app-debug-receiver-component><app-sidebar class="sidebarContainer"></app-sidebar>
    <app-cesium-container class="cesium"> </app-cesium-container>
    <div id="page-container"></div>
    <app-stops-file-modal id="stops-file" class="modal"></app-stops-file-modal>
    <app-simulation-modal id="modal-container" class="modal"></app-simulation-modal>
    <app-stats-modal id="stats-container" class="modal"></app-stats-modal>
</div>

