[submodule "multimodalsim-vis/multimodalsim-vis/backend/multimodal-simulator"]
	path = multimodalsim-vis/multimodalsim-vis/backend/multimodal-simulator
	url = https://github.com/RTOpt/multimodal-simulator.git
