<div id="customize" class="dashboard">
    <div class="fake-menu">
        <div class="fake-buttons fake-close"></div>
        <div class="fake-buttons fake-minimize"></div>
        <div class="fake-buttons fake-zoom"></div>
    </div>

    <h2>{{ 'Custumize simulation'}}</h2>

    <div class="display">
        <input type="text" placeholder="{{ 'customize entities and velocity here'}}" maxlength="512" />
    </div>
</div>
<div id="vehicles" class="dashboard">
    <div class="fake-menu">
        <div class="fake-buttons fake-close"></div>
        <div class="fake-buttons fake-minimize"></div>
        <div class="fake-buttons fake-zoom"></div>
    </div>

    <h2>{{ 'list of vehicles'}}</h2>

    <div class="display">
        <input type="text" placeholder="{{ 'vehicles'}}" maxlength="512" />
    </div>
</div>
<div id="stops" class="dashboard">
    <div class="fake-menu">
        <div class="fake-buttons fake-close"></div>
        <div class="fake-buttons fake-minimize"></div>
        <div class="fake-buttons fake-zoom"></div>
    </div>

    <h2>{{ 'list of stops'}}</h2>

    <div class="display">
        <input type="text" placeholder="{{ 'stops'}}" maxlength="512" />
    </div>
</div>