<div class="sub-menu-button" id="sub-menu-pause" (click)="pauseSimulation()">
    Pauser la simulation
</div>
<div class="sub-menu">
    <div class="sub-menu-option"></div>
</div>
<div class="sub-menu-button" id="sub-menu-continue" (click)="continueSimulation()">
    Continuer la simulation
</div>
<div class="sub-menu">
    <div class="sub-menu-option"></div>
</div>
<div class="sub-menu-button" id="sub-menu-continue" (click)="endSimulation()">
    Terminer la simulation
</div>
<div class="sub-menu">
    <div class="sub-menu-option"></div>
</div>
