<a class="close-button" (click)="closeModal()">&times;</a>
<div class="table-container">
    <!--À modifier-->
    <a *ngIf="false && this.customStats.size > 0" id="download-button" class="json-load-button" [href]="sanitizedBlobUrl" [download]="'résultats_simulation'">Enregistrer les statistiques de la simulation</a>
    
    <h1> Statisques de simulation</h1>  
    <table class="table table-striped">  
        <thead>  
            <tr>  
              <th>Statistique</th>  
              <th>Valeur</th>  
            </tr>  
        </thead>  
        <tbody>  
          <tr *ngFor="let stat of showedStats">  
            <td class="stat-field">{{ stat.field }}</td>  
            <td class="stat-value">{{ stat.value }}</td>  
          </tr>  
        </tbody>  
      </table>  
</div>
