<a class="close-button" (click)="closeModal()">&times;</a>
<div class="table-container">    
    <h1> Statisques de simulation </h1>  
    
    <div class="container">
        <div>
            <h2 *ngIf="filterState.get('Nombre d\'entités')"> Nombre d'entités </h2>  
            <table *ngIf="filterState.get('Nombre d\'entités')" class="table table-striped">  
                <thead>  
                    <tr>  
                        <th>Statistique</th>  
                        <th>Valeur</th>  
                    </tr>  
                </thead>  
                <tbody>  
                    <tr *ngFor="let stat of numberStats">  
                    <td class="stat-field">{{ stat.field }}</td>  
                    <td class="stat-value">{{ stat.value }}</td>  
                    </tr>  
                </tbody>  
            </table>  
            <br *ngIf="filterState.get('Nombre d\'entités')">
        
            <h2 *ngIf="filterState.get('Stats de véhicules')"> Statistiques de véhicules </h2>  
            <table *ngIf="filterState.get('Stats de véhicules')" class="table table-striped">  
                <thead>  
                    <tr>  
                    <th>Statistique</th>  
                    <th>Valeur</th>  
                    </tr>  
                </thead>  
                <tbody>  
                <tr *ngFor="let stat of vehicleStats">  
                    <td class="stat-field">{{ stat.field }}</td>  
                    <td class="stat-value">{{ stat.value }}</td>  
                </tr>  
                </tbody>  
            </table>  
            <br *ngIf="filterState.get('Stats de véhicules')">
        
            <h2 *ngIf="filterState.get('Stats de voyages')"> Statistiques de voyages </h2>  
            <table *ngIf="filterState.get('Stats de voyages')" class="table table-striped">  
                <thead>  
                    <tr>  
                        <th>Statistique</th>  
                        <th>Valeur</th>  
                    </tr>  
                </thead>  
                <tbody>  
                    <tr *ngFor="let stat of tripsStats">  
                    <td class="stat-field">{{ stat.field }}</td>  
                    <td class="stat-value">{{ stat.value }}</td>  
                    </tr>  
                </tbody>  
            </table>  
            <br *ngIf="filterState.get('Stats de voyages')">
        </div>

        <div class="filter-area">
            <label class="sub-menu-option" *ngFor="let pair of filterState | keyvalue">
                <input type="checkbox" [(ngModel)]="pair.value" (change)="filterStats(pair.key)">
                <span class="checkbox"></span>
                {{pair.key}}
            </label>
        </div>
    </div>
    
    <a *ngIf="this.customStats.size > 0" id="download-button" class="json-load-button" [href]="sanitizedBlobUrl" [download]="'résultats_simulation'">Enregistrer les statistiques de la simulation</a>
</div>
