.sidebar {
	height: 100%;
	width: 0px;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: white;
	color: black;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.sub-menu-button {
	display: block;
	width: 90%;
	height: 30px;
	margin-left: 2%;
	margin-bottom: 5px;
	padding: 8px 8px 8px 8px;
	border: black;
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	color: #5c5c5c;
	background-color: #e7e7e7;
	cursor: pointer;
	font-size: 25px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: center;
	transition: 0.3s;
}

.sub-menu-button:hover {
	color: black;
	background-color: #dadada;
}

.sub-menu {
	height: 0px;
	opacity: 0;
	transition: 0.5s;
	background-color: #ddeeed;
	margin-bottom: 5px;
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 20px;
	pointer-events: none;
}

.sub-menu-option {
	display: block;
	position: relative;
	top: 5px;
	width: 80%;
	height: 25px;
	margin-left: 7%;
	margin-bottom: 5px;
	padding: 8px 8px 8px 8px;
	border: black;
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	color: #5c5c5c;
	background-color: #e7e7e7;
	cursor: pointer;
	font-size: 1.1em;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: center;
	transition: 0.3s;
}

.sub-menu-option:hover {
	color: black;
	background-color: #dadada;
}

.sub-menu-option input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkbox {
	position: absolute;
	align-self: center;
	left: 10px;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

.sub-menu-option:hover input ~ .checkbox {
	background-color: #ccc;
}

.sub-menu-option input:checked ~ .checkbox {
	background-color: #2196f3;
}

.checkbox:after {
	content: '';
	position: absolute;
	display: none;
}

.sub-menu-option input:checked ~ .checkbox:after {
	display: block;
}

.sub-menu-option .checkbox:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button {
	color: #5c5c5c;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.close-button:hover {
	color: black;
}

#open-button {
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	position: absolute;
	z-index: 1;
	left: 16px;
	font-size: 32px;
	border-radius: 5px;
	opacity: 0.4;
	background-color: none;
	cursor: pointer;
}

#open-button:hover {
	opacity: 0.7;
	background-color: rgba(0, 0, 0, 0.2);
}

.sub-menu-replay-option {
	display: grid;
	grid-template: 35px / auto auto auto auto auto auto auto auto auto auto auto auto;
	gap: -4 px;
	position: relative;
	grid-row: 1;
	top: 5px;
	width: 80%;
	height: 25px;
	margin-left: 7%;
	margin-bottom: 5px;
	padding: 8px 8px 8px 15px;
	border: black;
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	color: #5c5c5c;
	background-color: #e7e7e7;
	cursor: pointer;
	font-size: 1.1em;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: center;
	transition: 0.3s;
}

#replay-button {
	position: relative;
	width: 40px;
	top: -15%;
	font-size: 32px;
	border: rgb(105, 105, 105);
	border-style: solid;
	border-width: 2.4px;
}

#replay-button:hover {
	border: black;
	border-style: solid;
	border-width: 2.4px;
	background-color: #dadada;
}

.time-input {
	position: relative;
	top: 1%;
	height: 16px;
	width: 15px;
}

#year-input {
	width: 30px;
}

.separator {
	font-weight: bold;
	color: black;
}

/* Au cas ou l'écran est plus petit que l'écran ordinaire d'un ordinateur.*/
@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
	}
	.sidebar a {
		font-size: 18px;
	}
}
