<i id="open-button" class="fa fa-bars" aria-hidden="true" (click)="open()"></i>
<div id="sidebar-menu" class="sidebar">
    <a class="close-button" (click)="close()">&times;</a>
    <div class="sub-menu-button" (click)="openSimulationModal()">Charger Simulation</div>
    <!--Important pour conserver le bon spacing dans le sidebar, même si c'est vide.-->
    <div class="sub-menu">
        <div class="sub-menu-option"></div>
    </div>
    <div class="sub-menu-button" (click)="openSaveModal()">Sauvegarder Simulation</div>
    <!--Important pour conserver le bon spacing dans le sidebar, même si c'est vide.-->
    <div class="sub-menu">
        <div class="sub-menu-option"></div>
    </div>
    <div class="sub-menu-button" (click)="toggleSubMenu(0, transportModeList.length)">Modes de transport</div>
    <div class="sub-menu" id="sub-menu-param">
        <label class="sub-menu-option" *ngFor="let mode of transportModeList">
            <input type="checkbox" checked="checked">
            <span class="checkbox"></span>
            {{mode}}
        </label>
    </div>
    <div class="sub-menu-button" (click)="openStats()">Statistiques</div>
    <div class="sub-menu">
        <div class="sub-menu-option"></div>
    </div>
    <div class="sub-menu-button" id="sub-menu-launch" (click)="launchSimulation()">
        Lancer la simulation
    </div>
    <div class="sub-menu">
        <div class="sub-menu-option"></div>
    </div>
    <div class="sub-menu-button" id="sub-menu-pause" (click)="pauseSimulation()">
        Pauser la simulation
    </div>
    <div class="sub-menu">
        <div class="sub-menu-option"></div>
    </div>
    <div class="sub-menu-button" id="sub-menu-continue" (click)="continueSimulation()">
        Continuer la simulation
    </div>
    <div class="sub-menu">
        <div class="sub-menu-option"></div>
    </div>
</div>
