<a class="close-button" (click)="closeModal()">&times;</a>
<div *ngIf = "!isSavedSimulationFromServer" >
  <div class="selection">
      <p>Ouvrir à partir d'un CSV</p>
      <input id="csvinput" class="selection-input" type='file' (change)="selectFile($event)">
    </div>
    <div class="selection">
      <p class="selection-title">Ouvrir à partir d'un zip</p>
      <input id="zipinput" class="selection-input" type='file' (change)="selectZip($event)">
  </div>
</div>
<mat-progress-spinner id="spinner" [mode]="mode" [value]="value"></mat-progress-spinner>
<button class="modal-button" (click)="readContent()">Lire le contenu</button>
<button class="modal-button" (click)="launchSimulation()">Lancer la simulation</button>
<button class="modal-button" id= delete-button *ngIf = "isSavedSimulationFromServer" (click)="deleteSavedSimulation()">Supprimer la sauvegarde</button>
