<a class="close-button" (click)="closeModal()">&times;</a>
<div class="selection">
    <p class="selection-title">Dossier de la simulation:</p>
    <input id="gtfsinput" class="selection-input" type='file' webkitdirectory=true (change)="selectFile($event)">
    <!-- 
    <input type="text" name="req-file">
    <label for="req-file"> Path to the file containing the requests (folder-name/file-name)</label>
    <br>
    <input type="text" name="vehicle-file">
    <label for="vehicle-file"> Path to the file containing the vehicles (folder-name/file-name)</label>
    <br>
    <input type="text" name="nodes-file">
    <label for="nodes-file"> Path to the file containing the nodes (folder-name/file-name) </label>
    <br>
    <input type="text" name="gtfs-folder">
    <label for="gtfs-folder"> Path to folder containing files in the GTFS format (folder-name/folder-name)</label>
    <br>
    <input type="text" name="connections">
    <label for="connections"> Path to the connections file (folder-name/file-name)</label>
    <br>
    <input type="text" name="graph">
    <label for="graph"> Path to the graph file (folder-name/file-name)</label>
    <br>
    <input type="text" name="coord">
    <label for="coord"> Path to the coordinates file (folder-name/file-name)</label>
    <br> -->
    <input type="checkbox" name="osrm" id="osrm-server">
    <label for="osrm"> Utiliser un serveur OSRM? (Necessaire pour les polylines)</label>
    <p>Log levels</p>
    <select id="log-levels">
        <option>INFO</option>
        <option>DEBUG</option>
        <option>WARNING</option>
    </select>
    <input type="text" name="simulation-name" id="simulation-name">
    <label for="simulation-name"> </label>

    <!-- <br>
    <input type="checkbox" name="multimodal">
    <label for="multimodal">multimodal?</label>
    <p>Type d'optimization</p>
    <input type="radio" name="optimization-type" value="fixed">
    <label for="fixed"> fixed </label>
    <input type="radio" name="optimization-type" value="shuttle">
    <label for="shuttle"> suttle </label> -->

</div>

<button class="modal-button" (click)="launchSimulation()">Lancer la simulation</button>