<a class="close-button" (click)="closeModal()">&times;</a>
<div class="selection">

    <input type="radio" name="osrm">
    <label for="osrm">Utiliser un serveur OSRM? (Necessaire pour les polylines)</label>
    <br>
    <input type="text" name="gtfs-folder">
    <label for="gtfs-folder">Nom du repertoire GTFS</label>
    <br>
    <input type="text" name="bus-event-file">
    <label for="bus-event-file">Fichier des bus</label>
    <br>
    <input type="text" name="stops-file">
    <label for="stops-file">Fichier des stops</label>
    <br>
    <input type="text" name="passenger-file">
    <label for="passenger-file">Fichier des passagers</label>
    <br>
    <input type="text" name="bus-event-file">
    <label for="bus-event-file">Fichier des bus</label>
</div>
<button class="modal-button">OK</button>

